pipeline/checkModifiedDateColumn.json
{
	"name": "checkModifiedDateColumn",
	"properties": {
		"activities": [
			{
				"name": "LookupModifiedDateColumn",
				"description": "Look up whether modifiedDate column exist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS\nWHERE  TABLE_SCHEMA = '@{pipeline().parameters.schema_name}' AND TABLE_NAME='@{pipeline().parameters.table_name}' AND UPPER(COLUMN_NAME)='MODIFIEDDATE';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupModifiedDateColumn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('LookupModifiedDateColumn').output, 'firstRow')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "copyDataWithDefaultPartition",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "copyDataWithDefaultPartiton",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "copyDataByDynamicPartition",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "copyDataByDynamicPartition",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"column_name": {
										"value": "@activity('LookupModifiedDateColumn').output.firstRow.COLUMN_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-10T08:55:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}