pipeline/copyDataByDynamicPartition.json
{
	"name": "copyDataByDynamicPartition",
	"properties": {
		"description": "copy data by dynamic partition using ModifiedDate column",
		"activities": [
			{
				"name": "CopyDataByDynamicPartition",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupColumnMinMax",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema_name}.@{pipeline().parameters.table_name} WHERE ?DfDynamicRangePartitionCondition;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "DynamicRange",
						"partitionSettings": {
							"partitionColumnName": {
								"value": "@{pipeline().parameters.column_name}",
								"type": "Expression"
							},
							"partitionUpperBound": {
								"value": "@{activity('LookupColumnMinMax').output.firstRow.MAX_VALUE}",
								"type": "Expression"
							},
							"partitionLowerBound": {
								"value": "@{activity('LookupColumnMinMax').output.firstRow.MIN_VALUE}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetTableFullLoad",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupColumnMinMax",
				"description": "Look up for min max of column used for dynamic partition",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MIN(@{pipeline().parameters.column_name}) AS MIN_VALUE,\n    MAX(@{pipeline().parameters.column_name}) AS MAX_VALUE \nFROM @{pipeline().parameters.schema_name}.@{pipeline().parameters.table_name};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"column_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}