pipeline/incremental_load_each_table.json
{
	"name": "incremental_load_each_table",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupPrimaryKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    DST.*,\n    CT.SYS_CHANGE_VERSION,\n    CT.SYS_CHANGE_OPERATION\nFROM\n    @{pipeline().parameters.schema_name}.@{pipeline().parameters.table_name} AS DST\n    RIGHT OUTER JOIN CHANGETABLE(CHANGES @{pipeline().parameters.schema_name}.@{pipeline().parameters.table_name}, @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) AS CT\n    ON @{activity('LookupPrimaryKey').output.firstRow.PrimaryKeysOnClause}\nWHERE\n    CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetTableIncrementalLoad",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema_name}.table_store_ChangeTracking_version WHERE TableName= '@{pipeline().parameters.table_name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupPrimaryKey",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    OBJECT_NAME(ic.object_id) AS TableName,\n    STRING_AGG('DST.' + QUOTENAME(c.name) + '=' + 'CT.' + QUOTENAME(c.name), ' AND ') AS PrimaryKeysOnClause\nFROM \n    sys.indexes AS i\nINNER JOIN \n    sys.index_columns AS ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id\nINNER JOIN \n    sys.columns AS c ON ic.object_id = c.object_id AND ic.column_id = c.column_id\nWHERE \n    i.is_primary_key = 1\n    AND OBJECT_NAME(ic.object_id) = '@{pipeline().parameters.table_name}'\nGROUP BY \nOBJECT_NAME(ic.object_id);",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EachTableDataset_noparameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Stored procedure1",
				"description": "Stored procedure to update last change tracking version",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[Update_ChangeTracking_Version]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion",
								"type": "Expression"
							}
						},
						"TableName": {
							"value": {
								"value": "@activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sql_server",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-10T08:55:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}